name: CI Pipeline

on:
  push:
    branches: [ "main" ]
    paths:             # Only run this when files in 'backend' change
      - 'backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  check:
    runs-on: ubuntu-latest
    
    # This setting creates the default context for all steps
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json # Tell cache where lockfile is

      - name: Install Dependencies
        run: npm ci

      - name: Verify Build
        run: npm run build